@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'); /* FOR THE ARROW IN THE "TAKE ME TO GITHUB BUTTONS */


/* General */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    color: #0F0F0F;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background: linear-gradient(to right, #0F0F0F, #232D3F);*/
    background: white;
}

/* Navigation Bar */
header {
    color: #008170;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Create a grid with 10 equal columns */
    align-items: center;
    min-height: 5vh;
    padding-bottom: 1vh;
}

#navbar {
    grid-column: 4 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist {
    list-style: none; /* Remove the default list styles */
    padding: 0;
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    padding: 1vw;
}

nav a {
    font-weight: bolder;
    color: #008170;
    text-decoration: none;
}

section {
    margin: 1.5vh;
}

.navbar-link {
    color: #3226DB;
    text-decoration: none;
    position: relative; /* Needed for absolute positioning of the line */
    transition: color 0.3s;
}

.navbar-link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%; /* Position in the center */
    width: 0;
    height: 3px; /* Height of the line */
    background-color: #3E378A; /* Line color */
    transition: width 0.3s ease-in-out; /* Smooth transition for line width */
    transform: translateX(-50%); /* Center horizontally */
    opacity: 0; /* Initially hidden */
}

.navbar-link:hover::before {
    width: 100%; /* Expand the line to cover the text width */
    opacity: 1; /* Make the line visible */
}

.navbar-link:hover {
    color: #3E378A;
}

.navbar-link {
    color: #3226DB;
    text-decoration: none;
    position: relative; /* Needed for absolute positioning of the line */
    transition: color 0.3s;
}

.small-logo {
    grid-column: 1 / 2;
    height: 10vh;
    width: 10vh;
    padding-left: 1.5vw;
    padding-top: 0.25vw;
}



/* Footer */
footer { 
    color: #3226DB;
    text-align: center;
    padding: 20px;
    font-size: 2vw;
}



/* Home Page */
#main-content {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

#left-content {
    display: grid;
    place-items: center;
    padding: 1vw;
    width: 50vw; /* Make it take 50% of the available space */
    padding: 0 1vw; /* Add spacing from the sides */
}

#right-content {
    display: grid;
    place-items: center;
    width: 50vw; /* Make it take 50% of the available space */
    padding: 0 1vw; /* Add spacing from the sides */
}

#name-and-title {
    font-size: 3vw;
    font-weight: bolder;
}

.hero-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #1601F0;
    font-size: 5vw;
}

.name-and-about-divider-line {
    height: 0.25vh;
    width: 45vw;
    background-color: #0F0F0F;
    border-color: #0F0F0F;
}

#about {
    font-size: 1.5vw;
    text-align: justify;
}

.headshot-image {
    border-radius: 10px;
    max-width: 40vw;
    height: auto;
    display: block;
}

/* Media Query for screens smaller than a certain width (e.g., phone) */
@media (max-width: 1200px) {
    #navbar {
        grid-column: 2 / 7;
        padding-left: 12.5vw;
    }

    nav li {
        font-size: 4vw;
    }

    #main-content {
      flex-direction: column; /* Stack the sections on top of each other */
    }
  
    #left-content, #right-content {
      width: 90vw; /* Take full width on smaller screens */
    }

    .name-and-about-divider-line{
        width: 85vw;
    }

    .hero-name {
        font-size: 10vw;
    }

    #name-and-title {
        font-size: 6vw;
    }

    #about {
        font-size: 4vw;
    }

    .small-logo {
        height: 5vh; 
        width: 5vh;
    }

    .headshot-image {
        size: 90vw;
        min-width: 85vw;
        justify-self: center;
    }
}

/* Contact Page */
#contact-information {
    width: 80vw; /* Adjust the size as needed */
    height: 40vw; /* Adjust the size as needed */
    border-radius: 2.5vw; /* Rounded corners */
    margin: 1.5vw 10vw;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#contact-card {
    width: 35vw; /* Adjust the size as needed */
    height: 15vw; /* Adjust the size as needed */
    text-align: center;
    border-radius: 2.5vw;
    background-color: #005B41;
    flex-direction: row;
    align-content: center;
    display: flex;
    align-items: center;
    border: 1px solid #0F0F0F;
}

#contact-info {
    padding: 1vw;
    width: 10vw; /* Adjust the size as needed */
    height: 10vw; /* Adjust the size as needed */
    border-radius: 10%; /* Make the icon block a circle */
    text-decoration: none;
    color: black; /* Text color of the icon block */
    font-size: 4vw; /* Adjust the font size as needed */
    justify-items: center;
    display: flex;
    align-items: center; /* Vertically center the text */
}

#contact-info-img {
    padding-left: 1.5vw;
    padding-right: 1vw;
    max-width: 20vw;
    max-height: 20vh;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.contact-page-link {
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    border-radius: 2.5vw;
    margin: 1vw;
}
  
.contact-page-link:hover {
    box-shadow: 0 0 20px 10px rgba(0, 91, 65, 0.7);
    transition: box-shadow 0.3s;
}

/* Project Page */
.projects-main-content{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.project-card-header{
    margin-top: 0.25vh;
    margin-bottom: 2.5vh;
    justify-content: left;
}

.project-card {
    border: 1px solid #3226DB;
    border-radius: 5px;
    padding: 1vw;
    margin: 1vw;
    width: 90%;
    box-sizing: border-box; /* Include padding in the width calculation */
}

#projects-main-content .projects-header {
    text-align: center;
}

#projects-header{
    text-align: center;
    margin: 0 auto; 
}

.technologies-images {
    display: flex;
    align-items: center;
    justify-content: left;
}

.technologies-images img {
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width: 5vw;
    min-width: 50px;
    margin: 0 5px; /* Adjust the spacing between images */
}



.github-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid; /* Initially no border */
    margin-top: 2vh;
    padding: 1.5vh 1.5vw;
    color: #3E378A;
    background-color: transparent;
    border-radius: 7.5px;
    transition: border-color 0.5s, box-shadow 0.5s, background-color 0.5s, color 0.5s; /* Smooth transition */
}

.github-btn:hover {
    color: white;
    background-color: #3E378A;
    border-color: #3E378A; /* Border color on hover */
    box-shadow: 0 0 5px 2px rgba(62, 55, 138, 0.3); /* Faint glow on hover */
    cursor: pointer; /* Show pointer cursor on hover */
}

.github-btn i {
    color: #3E378A;
    margin-left: 5px; /* Adjust the spacing between text and icon */
    transition: color 0.5s; /* Color transition on hover */
}


.github-btn:hover i {
    color: white; /* Change arrow color on hover */
}

